
.panel#alarms
	.panel-content
		position relative
		width 768px
		margin 30px auto
		padding 20px 40px 130px 40px
		background-color white
		box-shadow 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 30px rgba(0, 0, 0, 0.1) inset
		&:before, &:after
			content ""
			position absolute
			z-index -1
			box-shadow 0 0 20px rgba(0,0,0,0.8)
			top 0
			bottom 0
			left 10px
			right 10px
			border-radius 100px / 10px
		&:after
			right 10px
			left auto
			transform skew(8deg) rotate(3deg)
			
	.print-header
		display none
		td
			border none
			text-align left
		.logo
			position relative
			width 48px
			padding 0 12px 6px 0
			background-image svg('logo', '0 0 128 128', button-bg-color)
			background-repeat no-repeat
			background-size 48px 48px
		.bigger
			font-size 12pt
			font-weight bold
		.smaller
			font-size 80%
		.right
			text-align right
		.border
			border-bottom 3px solid button-bg-color
	
	.content-header 
		h2
			text-align center
			button
				position relative
				margin-left 1em
				padding 0 30px
				font inherit
				color fg-color
				border 0 solid transparent
				border-bottom-width 1px
				background-color transparent
				outline none
				&:not(:disabled)
					border-color lighten(button-bg-color, 50%)
				&:not(:disabled)::after
					position absolute
					content ""
					right 0
					bottom 0
					border 6px solid transparent
					border-right-color lighten(button-bg-color, 50%)
					border-bottom-color lighten(button-bg-color, 50%)
				&:not(:disabled):hover
					cursor pointer
					border-color button-bg-color
					&::after
						border-right-color button-bg-color
						border-bottom-color button-bg-color

	.content-footer
		position absolute
		left 0.5in
		bottom 0
		right 0.5in
		padding 8px 12px 0.25in 12px
		border 0px solid button-bg-color
		border-top-width 3px
		div:first-child
			margin-bottom 0.25em
			font-size 12pt
			font-weight bold
		div:last-child
			font-size 10pt

	table
		width 100%
		border-collapse collapse
		th, td
			border 1px solid #eee
			padding 0.2em 0.8em
		th
			text-align left
		thead th
			vertical-align bottom
		td, th:not(:first-child)
			text-align center
		tbody th
			padding 0.4em 20px

	h3
		text-align center

	h3.date-range
		font-style italic
		span
			margin 0 1em
			font-style normal
			//text-decoration underline

	h2.alarm-detail
		border-top 3px solid #eee
		padding-top 1.6em

	h2:not(:first-child)
		margin 2.4em 0 0.4em 0

	table.site-info th
		width 40%
		
	table.power-summary
		 .channel-row
			font-style italic
			th
				padding-top 1.8em

	table.alarm-detail
		margin-bottom 2.5em
		border 1px solid #eee
		.alarm-group
			font-size 120%
		th, td
			border-width 0 0 1px 0 !important
		td.main-loader
			position relative
			height 220px
		td.plots
			position relative
			padding 0
			height 4.75in // size for 4" plot below
			vertical-align top
			.loaderWrapper
				background-color rgba(0,0,0,0.3)
			.loader
				margin auto
				top 50%
			.plot-tabs
				margin 10px 0 0 10px
				padding 0
				list-style none
				li
					position relative
					display inline-block
				button					
					padding 2px 2px 2px 20px
					margin-right 10px
					font-size 100%
					background-color transparent
					border 0
					outline 0
					cursor pointer
					&::before
						content ""
						position absolute
						top 5px
						left 5px
						width 10px
						height 10px
						background-color rgba(0,0,0,0.3)
						border-radius 100%
				li.active button::before
					background-color #000
			.plot-tab-content
				position absolute
				top 0
				margin-top 40px // room for tabs
				right 0
				bottom 0
				left 0
				padding 0 40px
				overflow hidden
			.plot-wrapper
				position absolute
				left 0
				right 0
				top 0
				bottom 0
				margin 30px 40px
				transition left 0.3s ease, right 0.3s ease
			.plot-wrapper.start
				left -100%
				right 100%
			.plot-wrapper.end
				left 100%
				right -100%
			.plot-wrapper.active
				left 0
				right 0
			.plot
				width 100%
				height 100%
			.plot-wrapper.single-axis .plot
				width 100%
				.flot-text::before
					right 7px
				.flot-text::after
					right 3px
			.x-axis-label
				position absolute
				left 40px
				right 40px
				bottom 5px
				> span
					display none
				> span.active
					display inline
					position absolute
					right 0
				.strong
					font-weight bold
			.y-axis-label
				position absolute
				top 43%
				width 200px
				&.left
					left 20px
					margin-left -100px
					transform rotate(-90deg)
				&.right
					right 20px
					margin-right -100px
					transform rotate(90deg)
			.legend
				width 90%
				margin 0 auto
				border 1px solid #ddd
				button
					position relative
					width 120px
					height 24px
					color #ddd
					border 0
					background-color transparent
					outline 0
					cursor pointer
				button.active
					color fg-color
				button::before
					content ''
					position absolute
					width 10px
					height 10px
					top 50%
					margin-top -6px
					margin-left -15px
					border 1px solid #ccc
					opacity 0.4
				.tr_0, .tr_1, .tr_2
					padding-left 20px
					text-align left
				.tr_3
					text-align right
				.tr_0::before
					background-color #ff0000
				.tr_1::before
					background-color #00ff00
				.tr_2::before
					background-color #0000ff
				.tr_3::before
					background-color #ffeb24
				button.active::before
					opacity 1
			.carousel-handle
				position absolute
				left 40px
				right 40px
				bottom 60px
				button
					margin 0 2px
					padding 0
					width 8px
					height 8px
					background-color rgba(0,0,0,0.3)
					border 0
					border-radius 100%
					cursor pointer
					outline 0
				button.active
					background-color black
			
			ALERT_DURATION = 0.5s
			ALERT_DELAY = 1.5s
			
			.alert
				position absolute
				top 70%
				left 50%
				padding 10px
				border-radius 6px
				transform translateX(-50%) translateY(-50%)
				color #000
				background-color rgba(127,127,127,.4)
				font-size 22pt
				opacity 0
				transition padding, font-size, left, top
				transition-delay ALERT_DELAY
				transition-duration ALERT_DURATION
			.alert::after
				content ''
				display block
				position absolute
				border 16px solid transparent
				width 0
				height 0
				border-top-color rgba(127,127,127,.4)
				left 50%
				margin-left -16px
				top 100%
				transition border-width ALERT_DURATION ALERT_DELAY
			.alert.show
				opacity 1
			.alert.showAndFade
				opacity 1
				top 105%
				left 85%
				font-size 0
				padding 0
			.alert.showAndFade::after
				border-width 0	
			.centered
				text-align center
			

@import week-chooser-panel

@media print
	.panel#alarms
		width 100%
		margin 0
		padding 0
		.panel-content
			background-color transparent
			width 100%
			margin 0
			padding 0
		.print-header
			display table
		.content-header
			margin-top 0
			h2
				page-break-after avoid
			h2 button
				border-bottom 1px solid fg-color
				&::after
					display none
		.content-footer
			position static
		table.alarm-detail
			page-break-inside avoid
