
.panel#alarms
	.panel-content
		position relative
		width 8in
		margin 30px auto
		padding 0.25in 0.5in 1.5in 0.5in
		background-color white
		box-shadow 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 30px rgba(0, 0, 0, 0.1) inset
		&:before, &:after
			content ""
			position absolute
			z-index -1
			box-shadow 0 0 20px rgba(0,0,0,0.8)
			top 0
			bottom 0
			left 10px
			right 10px
			border-radius 100px / 10px
		&:after
			right 10px
			left auto
			transform skew(8deg) rotate(3deg)
		h2:first-child, h3
			text-align center
		h2:not(:first-child)
			margin 2.4em 0 0.4em 0
		h3.date-range
			font-style italic
			span
				margin 0 1em
				font-style normal
				//text-decoration underline
		.content-header h2 button
			position relative
			margin-left 1em
			padding 0 30px
			font inherit
			color fg-color
			border 0 solid transparent
			border-bottom-width 1px
			background-color transparent
			outline none
			&:not(:disabled)
				border-color lighten(button-bg-color, 50%)
			&:not(:disabled)::after
				position absolute
				content ""
				right 0
				bottom 0
				border 6px solid transparent
				border-right-color lighten(button-bg-color, 50%)
				border-bottom-color lighten(button-bg-color, 50%)
			&:not(:disabled):hover
				cursor pointer
				border-color button-bg-color
				&::after
					border-right-color button-bg-color
					border-bottom-color button-bg-color

	.panel-content > table
		width 100%
		border-collapse collapse
		th, td
			border 1px solid #eee
			padding 0.2em 0.8em
		th
			text-align left
		thead th
			vertical-align bottom
		td, th:not(:first-child)
			text-align center
		tbody th
			padding 0.4em 20px
		.centered
			text-align center
		
	table.site-info th
		width 40%
		
	table.power-summary
		 .channel-row
			font-style italic
			th
				padding-top 1.8em

	table.alarm-detail
		margin-bottom 2.5em
		border 1px solid #eee
		.alarm-group
			font-size 120%
		th, td
			border-width 0 0 1px 0 !important
		td.main-loader
			position relative
			height 220px
		td.plots
			position relative
			padding 0
			height 4.75in // size for 4" plot below
			vertical-align top
			.loaderWrapper
				background-color rgba(0,0,0,0.3)
			.loader
				margin auto
				top 50%
			.plot-tabs
				margin 10px 0 0 10px
				padding 0
				list-style none
				li
					position relative
					display inline-block
				button					
					padding 2px 2px 2px 20px
					margin-right 10px
					font-size 100%
					background-color transparent
					border 0
					outline 0
					cursor pointer
					&::before
						content ""
						position absolute
						top 5px
						left 5px
						width 10px
						height 10px
						background-color rgba(0,0,0,0.3)
						border-radius 100%
				li.active button::before
					background-color #000
			.plot-tab-content
				position absolute
				top 0
				margin-top 40px // room for tabs
				right 0
				bottom 0
				left 0
				padding 0 40px
				overflow hidden
			.plot-wrapper
				position absolute
				left 40px
				top 30px
				right 40px
				bottom 30px
				transition left 0.3s ease 0s
			.plot-wrapper.start
				left -100%
			.plot-wrapper.end
				left 100%
			.plot-wrapper.start.active,
			.plot-wrapper.end.active
				left 40px
			.plot
				width 686px // hack: should be width 100%, but flot plots too soon...
				height 100%
				.flot-x-axis .flot-tick-label:first-child
					&::before, &::after
						content ''
						position absolute
						right 2px
						bottom -10px
						width 2px
						height 10px
						background-color #aaa
					&::after
						width 0
						height 0
						left -2px
						bottom -2px
						background-color transparent
						border 5px solid transparent
						border-bottom-color #aaa
			.plot-wrapper.single-axis .plot
				width 660px
				.flot-text::before
					right 7px
				.flot-text::after
					right 3px
			.x-axis-label
				position absolute
				left 40px
				right 40px
				bottom 5px
				> span
					display none
				> span.active
					display inline
					position absolute
					right 0
				.strong
					font-weight bold
			.y-axis-label
				position absolute
				top 43%
				width 200px
				&.left
					left 20px
					margin-left -100px
					transform rotate(-90deg)
				&.right
					right 20px
					margin-right -100px
					transform rotate(90deg)
			.legend
				width 90%
				margin 0 auto
				border 1px solid #ddd
				td
					position relative
					border 0
				td::before
					content ''
					position absolute
					width 10px
					height 10px
					top 50%
					margin-top -6px
					margin-left -15px
					border 1px solid #ddd
				.ph-A, .ph-B, .ph-C
					padding-left 20px
					text-align left
				.ph-A::before
					background-color #ff0000
				.ph-B::before
					background-color #00ff00
				.ph-C::before
					background-color #0000ff
				.pib
					text-align right
				.pib::before
					background-color #ffd42a
			.carousel-handle
				position absolute
				left 40px
				right 40px
				bottom 60px
				button
					margin 0 2px
					padding 0
					width 8px
					height 8px
					background-color rgba(0,0,0,0.3)
					border 0
					border-radius 100%
					cursor pointer
					outline 0
				button.active
					background-color black
					
				
	h2.alarm-detail
		border-top 3px solid #eee
		padding-top 1.6em
				

	.copyright
		position absolute
		left 0.5in
		bottom 0
		right 0.5in
		padding 8px 12px 0.25in 12px
		border 0px solid button-bg-color
		border-top-width 3px
		div:first-child
			margin-bottom 0.25em
			font-size 12pt
			font-weight bold
		div:last-child
			font-size 10pt
			
@import week-chooser-panel