// Channel panel styles for the threshold gauge,
// configuration, and alarm badges.


// th-gauge is the threshold gauge
.th-gauge
	position relative
	background-color error-color
	width 50%
	height 5px
	margin-left 25%
	border-radius 2px
	box-shadow 0 0 0 1px rgba(255,255,255,0.24)
	.alarm, 
	.warning
		position absolute
		top 0
		bottom 0
		left 0
		right 0
	.alarm
		background-color warning-color
	.warning
		background-color green
	.pointer
		position absolute
		width 12px
		height 12px
		left 50%
		margin-left -6px
		top 50%
		margin-top 2px
		background-color white
		border-radius 80% 0 55% 50% / 55% 0 80% 50%
		box-shadow 0 1px 1px 1px rgba(0,0,0,0.24)
		transform rotate(-45deg)
		span
			display inline-block
			margin-top 24px
			white-space nowrap
			transform rotate(45deg)
.th-badge
	position absolute
	width 32px
	height 32px
	line-height 32px
	top 50%
	margin-top -16px
	margin-left 20px
	opacity 0
	background-image svg('alarm', '0 0 80 80', warning-color)
	transition opacity 0.3s ease 0s
.th-badge.warning
	opacity 1
.th-badge.alarm
	opacity 1
	background-image svg('alarm', '0 0 80 80', error-color)
	

.th-config
	margin 0
	margin-bottom 20px // spacing out 2 config divs
	&.single
		margin-top 10%
	table
		border-collapse collapse
		margin-left 1%
		width 98%
	tbody
		border-top 2px solid #eee
	td
		width 11.1%  // 9 columns
		vertical-align middle
		text-align center
		border 0px solid red
	tbody td
		height 11px
	tr.gauge
		.alarm
			height 5px
			background-color error-color
		.warning
			background-color warning-color
		.nominal
			background-color green
	td.input
		padding-left 2px
		padding-right 2px
	input[type='text']
		width 100%
		text-align center
		box-sizing border-box
		&.error
			border-width 1px
			border-color error-color
			padding 2px
		&.active
			font-size 100%
			font-weight bold		
	thead input[type='text']
		font-style italic
		border 0
		background-color #eee
	thead td.nominal
		input
			width 34%
			margin-right 5px
			text-align right
		label
			font-size 90%
			font-style italic	
	td.th-percentage
		font-size 90%
	.r
		border-right-color #ccc
		border-right-width 1px
	.b
		border-bottom-color #ccc
		border-bottom-width 1px
	.percent
		position absolute
		margin-left -1.3em
		font-size 80%
	.unit
		font-size 18px
	.subunit
		font-size 12px



