// Styles for the channel panels (show up on the application Dashboard)

@font-face 
	font-family 'Share Tech'
	src url('/Share-Tech.otf')

error-badge-size = 30px
icon-small-viewport = '-512 -512 2048 2048'

channel-panel-width = 380px
channel-panel-height = 245px

plot-header-height = 24px
plot-footer-height = 24px

.ch-wrapper
	position relative
	float left
	.loader
		margin 90px auto
		font-size 10px

.ch-header
	padding 0 20px
	white-space nowrap
	overflow hidden
	input[type=text]
		font-size 14px
		color #fff
		text-align left
		background transparent
		border 0px solid transparent
		border-bottom-width 1px
		//&:hover, &:focus
		//	border-color rgba(255,255,255, 0.25)
		&.active
			font-weight bold
		+placeholder()
			color #aaa
			font-style italic
			font-weight normal
		&#name
			width 98px
		&#description
			margin-left 10px
			width 224px

.ch
	position relative
	margin 10px
	width channel-panel-width
	height channel-panel-height
	overflow hidden
	color #fff
	background button-bg-color
	box-shadow 0 2px 9px 0 rgba(0,0,0,0.2)
	.ch-history-badge
		position absolute
		display inline-block
		font-size 1em
		width auto
		height auto
		font-weight bold
		padding 6px 8px 6px 46px
		bottom 20px
		right 20px
		background-color #EA9338
		box-shadow 0 1px 1.5px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24)	
		&::before
			content ''
			position absolute
			top 0
			left 0
			width 40px
			height 100%
			background-color lightness(#EA9338, 50%)
			background-repeat no-repeat
			background-image svg('plot-trace', '-5 -5 50 40') 
	.ch-history-badge[disabled]::before
		background-color #909090

.icon-download2
	background-image svg('download2', icon-small-viewport)
.icon-chevron-left
	background-image svg('chevron-left', icon-small-viewport)
.icon-chevron-right
	background-image svg('chevron-right', icon-small-viewport)
.icon-chevron-down
	background-size 20px 20px
	background-position-y center
	background-image svg('chevron-down', '0 0 1152 1152') // just slightly smaller
.icon-cross
	background-image svg('cross', icon-small-viewport)
.icon-trash2
	background-image svg('trash2')

.ch-error-badge
	position absolute
	z-index 2
	text-align center
	top -5px
	right -5px
	width error-badge-size
	height error-badge-size
	line-height error-badge-size
	font-size error-badge-size
	font-weight bold
	border-radius 100%
	color white
	background-color error-color
	box-shadow 0 2px 9px 0 rgba(0,0,0,0.2)	
	opacity 0
	cursor default
	&.error
		opacity 1

		
.ch-readout
	position relative // for z-index layering
	text-align center
	line-height normal
	margin-top 18px
	font-family 'Share Tech'
	.UNIT
		margin-left 0.5em
	input
		position absolute
		height 100%
		left 0
		width 70px
		text-align right
		background-color transparent
		border none
		color white
		font-family 'Share Tech'
		font-size 20pt
	&.primary
		.value
			font-size 48px
		.UNIT
			font-size 38px
		.unit
			font-size 19px
	&.secondary
		.value
			font-size 34px
		.UNIT
			font-size 27px
		.unit
			font-size 13px
	&.single
		margin-top 12%


.ch-controls
	background lightness(button-bg-color, 50%)
	position absolute
	padding-left 24px
	left 0
	right 0
	bottom 0
	height 34px
	overflow hidden
	button
		height 40px
		width 40px
		margin-top -5px
		padding 0
		border 0px solid rgba(255,255,255,0.3)
		border-radius 100%
		background-color transparent
		background-size 28px 28px
	.ch-status
		position absolute
		background-color #999
		width 8px
		height 8px
		left 8px
		top 50%
		margin-top -5px
		border-radius 100%
		&.active
			background-color #0e0


.icon-play
	background-image svg('play')
.icon-pause
	background-image svg('pause')
.icon-view-alarms
	background-image svg('view-alarms', '0 0 80 80')
.icon-record
	background-image svg('record', '0 0 1024 1024', error-color)
.icon-record-check
	background-image svg('record-check', '0 0 1024 1024', error-color)
	
	
.ch-plot
	position absolute
	top 0
	height 100%
	width 100%
	z-index -1 // hides plot under layers (needed for flot to render plot correctly)
	color fg-color
	background-color #fff
	text-align center
	&.open	
		z-index 1
	.plot-wrapper
		position absolute
		top plot-header-height
		left 0
		right 0
		padding-right 8px
		height channel-panel-height - (plot-header-height + plot-footer-height)
		background-color #fff
		z-index 1
		overflow hidden
		&.active
			z-index 2
	.plot
		width 100% 
		height 100%
		margin 0
		.flot-x-axis .flot-tick-label:first-child
			white-space nowrap
			margin-left -6px
	.plot.active
		background-color pink

.ch-plot-header,
.ch-plot-footer,
.ch-plot-tools
	position absolute
	right 0
	text-align center
	background-color #fff
	.select-wrapper
		position absolute
		top 2px
		right 10px
		display inline-block
		cursor pointer		
		select
			-webkit-appearance none
			position relative
			padding-right 24px
			color #fff
			background-color transparent
			background-repeat no-repeat
			background-position-x 100%
			font-size 80%
			font-weight bold
			text-transform uppercase	
			border 0
			cursor pointer
			outline none
			option
				background-color #cbe9f1
				color #666
				font-weight bold
		select::-ms-expand
			display none
			
	button
		position absolute
		width 24px
		height 24px
		font-size 80%
		font-weight bold
		text-transform uppercase	
		line-height 100%
		color #fff
		background-color transparent
	.close
		left 0
	.export
		right 0
	.reset
		right 36px
		background-size 20px 20px
	.plot-select
		position relative
		width auto
		float left
		padding-left 24px
		text-transform none
		&::before
			content ""
			position absolute
			top 4px
			left 5px
			width 13px
			height 13px
			border 1px solid #fff
			border-radius 100%
	.plot-select.active::before
		background-color #EB942A

.ch-plot-header,
.ch-plot-footer
	left 0
	height plot-footer-height
	background-color button-bg-color
.ch-plot-footer
	bottom 0
.ch-plot-tools
	top  50%
	margin-top -(24px + 12px + 10px)  // 2 buttons + margin + plot x-axis height
	right -20px
	border 0 solid lighten(fg-color, 60%)
	border-width 2px 0 2px 2px
	border-radius 3px 0 0 3px
	transition right 0.3s ease 0s
	&:hover
		right 0
	button
		position relative
		display block
		margin 6px 4px
		background-size 24px 24px
	
.icon-reset
	background-image svg('reset', '0 0 1000 1000')
.icon-autoscale
	background-image svg('autoscale', '0 0 24 24', lighten(fg-color, 60%))
.icon-thresholds
	background-image svg('thresholds', '0 0 24 24', lighten(fg-color, 60%))

.ch-error
	position absolute
	top	10px
	left 10px
	right 10px
	bottom 10px
	padding 10px
	background-color white

		
.ch-config
	position absolute
	height 100%
	width 100%
	top	0
	right 360px
	transition all 0.3s ease 0s
	&.open
		right -20px

.ch-config > button,
.ch-config-content > button
	position absolute
	top 0
	height 100%
	width 20px
	padding 0
	background-color transparent
.ch-config > button
	right 0

.ch-config-content
	height 100%
	margin-right 20px
	margin-left -20px
	padding 10px
	background-color header-bg-color
	color fg-color
	.title
		font-weight bold
		border-bottom 1px solid #ddd
		margin-bottom 5px
	.errors	> div
		padding 0 10px
	.errors .title
		padding 0 5px
		border 0
		font-style italic
		font-size 85%
	> button
		position absolute
		left -20px
		color fg-color

