// Error popup modal dialog styles

.panel#error
	position fixed
	text-align center
	z-index 10
	left 0
	top 0
	right 0
	bottom 0	
	background rgba(0,0,0,0.2)
	.popup
		position absolute
		width 380px
		height 180px
		top 50%
		margin-top -90px
		left 50%
		margin-left -190px
		overflow hidden
		background #fff
		box-shadow 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
	.title
		padding 5px
		font-size 140%
		background error-color
		color #fff
	.errors
		position absolute
		margin 0
		top 60px
		left 0
		right 0
		bottom 48px // room for OK button
		overflow auto		
		list-style none
		text-align left
		font-size 120%
	.buttons
		position absolute
		bottom 0
		right 0
	.btn
		font-size 18px
		width 120px
		color button-bg-color
		background transparent
		text-transform uppercase