// Top-level application page header styles


header // 100px height, vertically center logo w/24px padding
	position relative
	z-index 1
	margin 0
	padding 0
	background-linear-gradient(top, header-gradient-top-color, 0%, header-gradient-bottom-color, header-gradient-bottom-stop)
	.branding
		padding 24px 0 23px 86px // accommmodate 1px bottom border
		color #fff
		border 0 solid header-tab-border-color
		border-bottom-width 1px
		font-weight bold
		line-height 1 // v-align text to top
		background-repeat no-repeat
		background-position 18px center
		background-size 48px 48px
		background-image svg('logo', '0 0 128 128', 'white')
		.title
			position relative
			font-size 36px
		.model
			position relative
			top 2px
			font-size 16px
	
	.recovery
		position absolute
		width 100%
		top 30px
		z-index 9
		text-align center
		font-size 40px
		color header-bg-color
		opacity 0.4
		text-shadow -1px -1px 0 error-color, -1px 1px 0 error-color, 1px -1px 0 error-color, 1px 1px 0 error-color
		
	.tab
		position absolute
		top -3px
		left 236px
		width 1024px // keeps the slope from changing on window width changes
		bottom 0
		border 0 solid header-tab-border-color
		border-width 1px 0 0 1px
		border-radius header-tab-radius 0 0 0
		background header-bg-color
		transform-origin bottom right
		transform perspective(40px) rotateX(2deg)
		&::before, &::after
			content ''
			position absolute
			bottom 0
			height header-tab-radius
			left (0 - header-tab-radius)px
			width header-tab-radius
			background header-bg-color
		&::after
			left - (header-tab-radius + 1)
			border 0 solid header-tab-border-color
			border-bottom-width 1px
			border-right-width 1px
			border-radius 0 0 header-tab-radius 0
			background-size auto 100px
			background-position 0 -80px
			background-linear-gradient(top, header-gradient-top-color, 0%, header-gradient-bottom-color, header-gradient-bottom-stop)
	
	.info // this div extends the graphical tab on very wide displays
		position absolute
		background-color header-bg-color
		white-space nowrap
		top 7px
		right 0
		height 100px
		text-align right
		box-shadow 1px -1px 2px #ccc
		> div
			display inline-block
			margin 0 16px
			.separator
				margin 0 16px 0 2px
			> label
				font-size 12px
				font-style italic
			> span
				font-weight bold
	.widgets
		position absolute
		top 32px
		right 16px
		bottom 10px
		color #fff
		font-size 14px
		div
			display inline-block
			text-align center
			> div
				padding 4px 10px
		> div 
			margin-left 10px
		.clock
			background-color button-bg-color
		.date
			background-color lightness(button-bg-color, 50%)
		.thermometer
			background-color #334
			> div
				margin 0 2px 2px 2px
				padding-bottom 0
				border-bottom 2px solid green
		.thermometer.warn > div
			border-color yellow
		.thermometer.alarm > div
			border-color red
			
	.buttons
		position absolute
		margin-top 5px
		right 0
		white-space nowrap
		text-align right
		button
			width auto
			height auto
			margin-right 20px
			padding-top 36px
			color inherit
			font-size 10pt
			font-weight bold
			text-transform uppercase
			background-color transparent
			background-position center top
		button.active
			border-bottom 3px solid button-bg-color

.icon-dashboard
	background-image svg('dashboard', '0 0 1000 1000', fg-color)
.icon-alarm
	background-image svg('alarm', '0 0 80 80', fg-color)
.icon-settings
	background-image svg('settings2', '0 0 1024 1024', fg-color)
.icon-logout
	background-image svg('logout2', '0 0 1024 1024', fg-color)
	

// for very wide layouts, open up the buttons min-width
@media only screen and (min-width: 1400px)
	header .info
		min-width 1024px

@media only screen and (max-width: width-breakpoint)
	header
		.branding
			border none
		.recovery
			top 4px
			font-size 30px
		.tab
			display none
		.info
			position static
			height auto
			text-align center
			> div
				margin 0
				width 50%
		.widgets
			position static
			padding 20px 0 // use padding; margins let bg show through
			text-align center
			background-color header-bg-color
		.buttons
			position static
			margin 0
			background-color header-bg-color
			text-align center
			button
				margin 0
				width 25%
	.panel-header
		display none

