// Notifications are popup divs that can alert information


.notification
	position absolute
	max-width 400px
	top 70px
	right -415px
	padding 20px 20px 0 20px
	opacity 0.9
	color white
	background-color #333
	border 1px solid #000
	border-radius 8px
	z-index 9
	box-shadow 0 2px 9px 0 rgba(0,0,0,0.6)	
	transition right 0.3s ease 0s
	.title
		padding 7px 0 4px 38px
		font-weight bold
		font-size 11pt
		background-repeat no-repeat
		background-size 32px 32px
		background-image svg('alarm', '0 0 80 80', warning-color)
		
	.message
		font-size 10pt
		margin 5px 0
	.buttons
		margin-top 10px
		text-align right
		button
			font-size 11pt
			background-color transparent

.notification.alarms
	right 15px
