// Stand-alone error page - generally used for 404 and UI route error support.


@font-face 
	font-family 'Bree Serif'
	src url('/BreeSerif-Regular.otf')

body.errorpage
	position relative
	height 100%
	margin 0
	padding 0
	line-height normal
	color #fff
	background-linear-gradient(top, header-gradient-top-color, 0%, header-gradient-bottom-color, header-gradient-bottom-stop)
	.content
		width 100%
		position absolute
		text-align center
		top 50%
		transform translateY(-50%)
	p
		margin 0
	.enormous-font
		font-family 'Bree Serif', serif
		font-size 10em
		span
			display inline-block
			width 96px
			height 96px
			background-repeat no-repeat
			background-image svg('logo', '0 0 128 128', 'white')
	.big-font
		font-size 2em
	