// Styles for the top-level Settings screen


@import react-datetime
@import settings-input-group
@import settings-legal

/* Logs input group icons */
.icon-download
	background-image svg('download2', '0 0 1024 1024', '#6f6f6f')
.icon-trash
	background-image svg('trash2', '0 0 1024 1024', '#6f6f6f')
.icon-logbook
	background-image svg('logbook', '0 0 280 280')

/* react-datetime (.rdt) overrides */
.rdt
	display inline-block
	input[type="text"]
		padding 0
		width 180px
		text-align center

	.rdtPicker
		margin-top 0
		border-color bg-color

	.rdtBtn
		width auto
		color button-bg-color
		background transparent
		opacity 0.25

	.rdtBtn:hover
		opacity 1
		background transparent

	&.shifted .rdtPicker
		right 0


/* LED-like indicator */
.led-wrapper
	position relative
	height 40px
	color #999
	.led
		position absolute
		width 20px
		height 20px
		top 50%
		margin-top -10px
		left 10px
		background #999
		border-radius 100%
	.led.red
		background #900
	.led.green
		background #090
	.led.yellow
		background #990
	.led-text
		width 110px
		padding-left 40px


/* Time zone offset control */
.zc
	display inline-block
	text-align center
	font-size 20px
	margin-bottom 5px
	> div
		float left
	.btn
		color button-bg-color
		line-height 40px
		background transparent
	.zcCounter .btn
		height 40px
		opacity 0.25
	.zcCounter .btn:hover
		opacity 1
	.zcSeparator
		margin 40px 0
		font-size 20px
	&::after
		content ''
		display block
		height 0
		clear both

