// CME styles

// app-wide colors
bg-color = #E6E6E6
fg-color = #4D4D4D
link-color = #00B7FF

button-bg-color = #3EA4E1

warning-color = #FFD42A
error-color = #FF2222

width-breakpoint = 700px

header-bg-color = #EEE
header-tab-border-color = #999
header-tab-radius = 20px
header-gradient-top-color = #7AB9E3
header-gradient-bottom-color = button-bg-color
header-gradient-bottom-stop = 45%

@import style-mixins
@import style-icons

// core html tag styles
html,
body
	font 14px 'Helvetica Neue', Helvetica, Arial, sans-serif
	line-height 1.4em
	background bg-color
	color fg-color
	margin 0
	padding 0
	overflow-x hidden
	font-smoothing antialiased
		
a
	color link-color
	
input[type="text"]
	outline 0

.hidden
	display none !important

// default .btn (button) styles 
.btn
	background-color button-bg-color
	background-repeat no-repeat
	background-position center center
	background-size 32px 32px
	color #fff
	font-size 20px
	height 48px
	width 64px
	border 0
	outline 0
	transition opacity 0.3s ease 0s

.btn.icon-left
	position relative
	padding-left 64px
	background-position-x 16px
	background-color transparent
	width auto
	> div
		text-align left
		color fg-color
	> div:last-child
		font-size 70%
		color lighten(fg-color, 30%)

.btn.icon-left > span.btn-icon
	position absolute
	width 48px
	height 48px
	left 8px
	top 0
	border-radius 100%
	background-color button-bg-color
	background-repeat no-repeat
	background-position center center	
	background-size 32px 32px

.btn:hover
	opacity 0.75
	cursor pointer

.btn:disabled
	opacity 1
	background-color grayscale(button-bg-color)
	cursor default
	

.loaderWrapper
	position absolute
	left 0
	top 0
	right 0
	bottom 0
	background-color rgba(button-bg-color, 0.5)
	.loader
		margin 100px auto
		font-size 25px
		width 1em
		height 1em
		border-radius 50%
		position relative
		text-indent -9999em
		-webkit-animation load5 1.1s infinite ease
		animation load5 1.1s infinite ease
		-webkit-transform translateZ(0)
		-ms-transform translateZ(0)
		transform translateZ(0)

@-webkit-keyframes load5
	0%, 100%
		box-shadow 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.5), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7)
	12.5%
		box-shadow 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5)
	25%
		box-shadow 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2)
	37.5%
		box-shadow 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5), 2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2)
	50%
		box-shadow 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.5), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2)
	62.5%
		box-shadow 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5), 0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2)
	75%
		box-shadow 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.5), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2)
	87.5%
		box-shadow 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5), -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff

@keyframes load5
	0%, 100%
		box-shadow 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.5), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7)
	12.5%
		box-shadow 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5)
	25%
		box-shadow 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2)
	37.5%
		box-shadow 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5), 2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2)
	50%
		box-shadow 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.5), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2)
	62.5%
		box-shadow 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5), 0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2)
	75%
		box-shadow 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.5), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2)
	87.5%
		box-shadow 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5), -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff


/* :not(:required) hides these rules from IE9 and below */
.throbber-loader:not(:required)
	animation throbber-loader 2000ms 300ms infinite ease-out
	background #dde2e7
	position absolute
	text-indent -9999px
	width 10px
	height 10px
	top 50%
	margin-top -5px
	border-radius 100%
.throbber-loader:not(:required):before, 
.throbber-loader:not(:required):after
	background #dde2e7
	content '\200B'
	position absolute
	width 10px
	height 10px
	border-radius 100%
.throbber-loader:not(:required):before
	animation throbber-loader 2000ms 150ms infinite ease-out
	right 10px
.throbber-loader:not(:required):after
	animation throbber-loader 2000ms 450ms infinite ease-out
	left 10px
.throbber-loader.invisible, 
.throbber-loader.invisible:before, 
.throbber-loader.invisible:after
	background transparent

@-webkit-keyframes throbber-loader
	0%
		background #dde2e7
	10%
		background #6b9dc8
	40%
		background #dde2e7

@keyframes throbber-loader
	0%
		background #dde2e7
	10%
		background #6b9dc8
	40%
		background #dde2e7


// global application styles
@import header
@import login
@import notification


// top-level application panel (holding content for dashboard, alarms, settings)
.panel
	position relative
	
.panel-header
	position relative
	padding 10px
	background-color header-bg-color
	border-bottom 1px solid #ccc
	.title
		font-size 150%
	.subtitle
		margin 0.5em 0 0 0.5em
		font-style italic

.panel-content::after
	content ''
	display block
	clear both	

// styles for the application panels
@import error-panel
@import dashboard-panel
@import settings-panel
@import alarms-panel

// Separate HTML page styles
@import page-export
@import page-calibrate
@import page-error
	
div#test-buttons
	display none
	margin 10px
	padding 10px
	border-top 1px solid #ccc
	> *
		margin-right 10px


// IE 10+ style overrides
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
@import style-ie
}
