// Week chooser popup modal dialog styles

.panel#week-chooser
	position fixed
	text-align center
	z-index 10
	left 0
	top 0
	right 0
	bottom 0	
	background rgba(0,0,0,0.2)
	.popup
		position absolute
		width 380px
		height 380px
		top 50%
		margin-top -90px
		left 50%
		margin-left -190px
		overflow hidden
		background #fff
		box-shadow 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
	.title
		padding 5px
		font-size 140%
		background button-bg-color
		color #fff
	.buttons
		position absolute
		bottom 0
		right 0
		button
			font-size 12px
			font-weight bold
			color button-bg-color
			background transparent
			text-transform uppercase

	ul
		padding 0
		list-style-type none
		text-align left
		overflow auto
		height 280px
		li
			padding 8px 0 8px 20px
			border-bottom 1px solid #eee
			label
				display block
				span
					font-style italic
					margin-left 1.5em
			input[type='radio']
				position relative
				margin 0 16px 0 10px
				top 2px
				zoom 2
		li.year
			border-bottom 0
			padding 8px 0 0 20px
			font-weight bold
			font-style italic
			font-size 90%
			color button-bg-color
			
